<div class="bodyAll">
  <div class="header">
    <div class="sreach">
      <span class="p-input-icon-left ">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" class="txtsreach">
      </span>
      <button pButton type="button" label="Search" class="p-button-outlined btnsearch"></button>
    </div>
    <div class="dropdow">
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'minWidth': '240px'}"
        class="statusdrop" placeholder="Select Status"></p-dropdown>
      <div class="p-field  ">
        <p-calendar [showIcon]="true" inputId="icon" class="calendar" [style]="{'minWidth': '449px'}">
        </p-calendar>
      </div>
    </div>
  </div>

  <div class="table">
    <p-table class="tablein" [paginator]="true" [rows]="10" [value]="products1" sortMode="multiple">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="User summited" class="txttable">User summited <p-sortIcon field="User summited">
            </p-sortIcon>
          </th>
          <th pSortableColumn="SerialNumber">Serial Number <p-sortIcon field="SerialNumber"></p-sortIcon>
          </th>
          <th pSortableColumn="ModelName">Model Name <p-sortIcon field="ModelName"></p-sortIcon>
          </th>
          <th pSortableColumn="CustumerName">Custumer Name <p-sortIcon field="Custumername"></p-sortIcon>
          </th>
          <th pSortableColumn="Datesubmited">Date submited <p-sortIcon field="Datesubmited"></p-sortIcon>
          </th>
          <th pSortableColumn="WattingDay">Watting Day <p-sortIcon field="WattingDay"></p-sortIcon>
          </th>
          <th pSortableColumn="Staus">Staus <p-sortIcon field="Staus"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.usersummited}}</td>

          <td>{{product.serialnumber}}</td>

          <td>{{product.modelname}} </td>

          <td>{{product.custumername}}</td>

          <td>{{product.datesubmit}} </td>

          <td>{{product.status}}</td>

          <td>{{product.waittingday}}</td>

        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
