<div class="bodyAll">
  <div class="header">
    <div class="sreach">
      <span class="p-input-icon-left ">
        <i class="pi pi-search"></i>
        <input
          type="text"
          pInputText
          placeholder="Search"
          class="txtsreach"
          [(ngModel)]="searchKeyWord"
        />
      </span>
      <button
        pButton
        type="button"
        label="Search"
        class="p-button-outlined btnsearch"
        (click)="handleGetListPPC()"
      ></button>
    </div>
    <div class="dropdow">
      <p-dropdown
        [options]="ppcOption"
        [(ngModel)]="selectedPPCId"
        optionLabel="name"
        optionValue="id"
        [style]="{ minWidth: '240px' }"
        class="statusdrop"
        placeholder="Select Status"
        (onChange)="handleGetListPPC()"
      ></p-dropdown>
      <div class="p-field  ">
        <p-calendar
          [showIcon]="true"
          class="calendar"
          [style]="{ minWidth: '449px' }"
          selectionMode="range"
          [(ngModel)]="rangeDates"
          (onClose)="handleGetListPPC()"
        >
        </p-calendar>
      </div>
    </div>
  </div>

  <div class="table">
    <p-table
      class="tablein"
      selectionMode="multiple"
      [paginator]="true"
      [rows]="10"
      [value]="ppcList"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="userSubmited">
            User Submited <p-sortIcon field="userSubmited"></p-sortIcon>
          </th>
          <th pSortableColumn="serialNumber">
            Serial Number <p-sortIcon field="serialNumber"></p-sortIcon>
          </th>
          <th pSortableColumn="modelName">
            Model Name <p-sortIcon field="modelName"></p-sortIcon>
          </th>
          <th pSortableColumn="customerName">
            Customer Name <p-sortIcon field="customerName"></p-sortIcon>
          </th>
          <th pSortableColumn="dateSubmited">
            Date Submited <p-sortIcon field="dateSubmited"></p-sortIcon>
          </th>
          <th pSortableColumn="waitingDay">
            Waiting Day <p-sortIcon field="waitingDay"></p-sortIcon>
          </th>
          <th pSortableColumn="status">
            Status <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-ppc
        let-rowIndex="rowIndex"
        class="fronttable"
      >
        <tr
          [pSelectableRow]="ppc"
          [pSelectableRowIndex]="rowIndex"
          (click)="showModal(ppc.id)"
        >
          <td>{{ ppc.userSubmited }}</td>
          <td>{{ ppc.serialNumber }}</td>
          <td>{{ ppc.modelName }}</td>
          <td>{{ ppc.customerName }}</td>
          <td>{{ ppc.dateSubmited | dateCompact }}</td>
          <td>{{ ppc.waitingDay }}</td>
          <td>
            <div
              [ngClass]="{
                outofstock: ppc.status === 'Rejected',
                lowstock: ppc.status === 'In Progress',
                instock: ppc.status === 'Approved',
                motostock: ppc.status === 'Caneled'
              }"
            >
              {{ ppc.status }}
            </div>
          </td>
          <td class="text-center" style="width: 70px">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-eye"
              class="p-button-rounded p-button-text"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog
    header="PPC Detail "
    [(visible)]="displayDetailPPC"
    [modal]="true"
    [style]="{ width: '45%' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <p class="stastuspopup">General Information</p>
    <div class="AllBodyHaeder ">
      <div class="bodyHeader">
        <div class="txtmodal">
          <p class="name">Model Name:</p>
          <input
            class="inputName"
            type="text"
            pInputText
            [(ngModel)]="ppcDetailData.modelName"
            (blur)="handleCheckValidate()"
          />
        </div>
        <div class="txtmodal">
          <p class="name">Serial Number:</p>
          <input
            class="inputName"
            type="text"
            pInputText
            [(ngModel)]="ppcDetailData.serialNumber"
            (blur)="handleCheckValidate()"
          />
        </div>
        <div class="txtmodal">
          <p class="name">Sell out Date:</p>
          <p-calendar
            [showIcon]="true"
            class="inputName"
            [(ngModel)]="ppcDetailData.selloutDate"
            (onClose)="handleCheckValidate()"
          >
          </p-calendar>
        </div>
      </div>
      <div class="bodyHeader">
        <div class="txtmodal">
          <p class="name">Customer name:</p>
          <input
            class="inputName"
            type="text"
            pInputText
            [(ngModel)]="ppcDetailData.customerName"
            (blur)="handleCheckValidate()"
          />
        </div>
        <div class="txtmodal">
          <p class="name">Customer phone:</p>
          <input
            class="inputName"
            type="text"
            pInputText
            [(ngModel)]="ppcDetailData.customerPhone"
            (blur)="handleCheckValidate()"
          />
        </div>
        <div class="txtmodal">
          <p class="name">Staus:</p>
          <input
            disabled
            class="inputName"
            type="text"
            pInputText
            [(ngModel)]="ppcDetailData.status"
          />
        </div>
      </div>
    </div>
    <p class="stastuspopup">Evidence</p>
    <div class="Evidence">
      <div *ngFor="let evidence of ppcDetailData.evidence">
        <p>{{ evidence.category }}</p>
        <img
          [src]="
            evidence.url ? evidence.url : '../../../assets/images/noImage.png'
          "
          class="imageRedvoid"
        />
      </div>
    </div>
    <p class="stastuspopup">Validation</p>
    <div class="Validation">
      <div class="validation-row">
        <div class="inputtxext-title">Description</div>
        <div class="inputtxext-title">Status</div>
      </div>
      <div
        class="validation-row"
        *ngFor="let validation of ppcDetailData.validation"
      >
        <input
          class="inputtxext-description"
          type="text"
          pInputText
          [(ngModel)]="validation.description"
        />
        <input
          class="inputtxext-status"
          type="text"
          pInputText
          [(ngModel)]="validation.status"
          [ngStyle]="{ 'background-color': '#' + validation.color }"
        />
      </div>
    </div>
    <p class="stastuspopup">Note</p>
    <textarea
      rows="7"
      cols="30"
      pInputTextarea
      class="note"
      aria-label="write"
      [(ngModel)]="ppcDetailData.note"
    ></textarea>
    <p class="stastuspopup">Activity</p>
    <div class="ava" *ngFor="let activity of ppcDetailData.activity">
      <p-avatar
        [image]="activity.avatar"
        shape="circle"
        size="large"
        class="footerAvata"
      ></p-avatar>
      <div>
        <div class="any">
          <p>Username: &nbsp;</p>
          <p>{{ activity.createdBy }}</p>
        </div>
        <div class="any">
          <p>Activity: &nbsp;</p>
          <p>{{ activity.activity }}</p>
        </div>
        <div class="any3">
          <i class="pi pi-clock iconclock"></i>
          <p class="timetext">{{ activity.createdAt | dateTime }}</p>
        </div>
      </div>
    </div>
    <div class="buttomfooter">
      <button class="btnReject" (click)="handleUpdate('Rejected')">
        <i class="pi pi-times icon" style="font-size: 20px"></i>
        <h5 class="statusr">REJECT</h5>
      </button>
      <button class="btnsubmit" (click)="handleUpdate('Approved')">
        <i class="pi pi-check-circle icon" style="font-size: 20px"></i>
        <h5 class="statusr">APPROVE</h5>
      </button>
    </div>
  </p-dialog>
</div>
