<div class="component">
  <div class="left-menu">
    <img src="../../../assets/images/logoAqua.png" class="logo">
    <div class="p-text-center">
      <div class="frit-title">
        <img src="../../../assets/images/clipboard.png" class="clipboard">
        <h4 class="content-leftmenu">Process Pending Case</h4>
      </div>
      <div class="title">
        <img src="../../../assets/images/git-commit.png" class="ic-git">
        <a class="content-leftmenu" routerLink="/list-PPC">List PPC</a>
      </div>
      <div class="frit-title">
        <img src="../../../assets/images/3 User.png" class="ic-User">
        <h4 class="content-leftmenu">User Management</h4>
      </div>
      <div class="title">
        <img src="../../../assets/images/git-commit.png" class="ic-git">
        <a class="content-leftmenu">List User</a>
      </div>
    </div>
  </div>
  <div class="allbody">
    <div class="bodyRight">
      <div class="name">
        <h5 class="nameUser">Pham Le Bao Phuc</h5>
        <h6 class="Role">Role : Manager</h6>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          <p-avatar label="P" size="large" shape="circle"></p-avatar>
        </button>
        <div class="dropdown-content">
          <div class="dropdown-button">
            <img src="../../../assets/images/Setting.png" class="setting">
            <a class="txtSetting">Cài đặt</a>
          </div>
          <div class="dropdown-button">
            <img src="../../../assets/images/icon-power.png" class="setting">
            <a class="txtSetting">Log out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bodyRight2">
    </div>
  </div>

</div>
