.bodyAll{
  width: 100%;
  //background-color: red;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.sreach{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: none;
}
.txtsreach{
  background-color: #EDEDED;
  border-style: none;
  border-radius: 8px;
  width: 240px;
  height: 48px;
  margin-right: 20px;
}
.btnsearch{
  border-radius: 8px;
  color: #003DA5;
  width: 140px;
  height: 48px;
}
::ng-deep .statusdrop{
  border-style: none;
  margin-left: 32px;
  height: 48px !important;
}
.calendar{
  width: 1516px;
}
.table{
  width: 100%;
  background-color: red;
  margin-top: 32px;
}
.tablein{
  width: 1154px;
}
.txttable{
  font-size: 16px;
}
::ng-deep .butn button {
  background: #003DA5 ;
  border-radius: 8px;
  padding: 0 80px;
  height: 45px;
}
::ng-deep .butn button:hover{
  background: #003DA5 !important ;
  border-color:#003DA5 !important ;

}
