<div class="bodyAll">
  <div class="header">
    <div class="sreach">
      <span class="p-input-icon-left ">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Search" class="txtsreach">
      </span>
      <button pButton type="button" label="Search" class="p-button-outlined btnsearch"></button>
    </div>
    <div class="dropdow">
      <p-button label="New User" icon="pi pi-plus-circle" iconPos="left" class="butn" (click)="showNewUser()">
      </p-button>
      <p-dropdown
      [options]="UserOtion"
      [(ngModel)]="selectedUserId"
      optionLabel="name"
      optionValue="id"
        [style]="{'minWidth': '240px'}"
        class="statusdrop"
        placeholder="Select Role"
        (onChange)="handleGetListUser()">
      </p-dropdown>
    </div>
  </div>

  <div class="table">
    <p-table class="tablein" selectionMode="multiple" [paginator]="true" [rows]="10" [value]="Listuser">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="User summited" class="txttable">User Name <p-sortIcon field="User summited">
            </p-sortIcon>
          </th>
          <th pSortableColumn="Serial Number">Email <p-sortIcon field="Serial Number"></p-sortIcon>
          </th>
          <th pSortableColumn="Model Name">Phone <p-sortIcon field="Model Name"></p-sortIcon>
          </th>
          <th pSortableColumn="Date submited">Role <p-sortIcon field="Date submited"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-rowIndex="rowIndex">
        <tr [pSelectableRow]="user" [pSelectableRowIndex]="rowIndex" (click)="showDialog(user.role, user.id)">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.role}} </td>
          <div class="eyebtn">
            <!-- <td class="text-center" style="width: 70px"> -->
              <p-inputSwitch></p-inputSwitch>
              <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"></button>
            <!-- </td> -->
          </div>

        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-dialog header="Admin Detail" [(visible)]="displayDialogAdmin" [modal]="true" [style]="{width: '630px'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="headerM">
      <div class="headerMA">
        <img src="../../../assets/images/AvatarM.png" class="imagAvata">
        <div class="buttonimage">
          <button pButton pRipple type="button" [label]="userDetailData.isActive ? 'Activated' : 'Inactivated'"
            class="p-button-outlined p-button-success buttonsuccess w-100" (click)="handleUpdateUser(true)"></button>
        </div>
      </div>
      <div class="AllBodyHaeder w-100">
        <div class="bodyHeader">
          <div class="txtmodal">
            <p class="name">Name:</p>
            <input class="inputName" type="text" pInputText disabled [(ngModel)]="userDetailData.userName">
          </div>
          <div class="txtmodal">
            <p class="name">Email:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.email" (input)="isEditUserDetail = true">
          </div>
          <div class="txtmodal">
            <p class="name">Role:</p>
            <input class="inputName" type="text" pInputText disabled [(ngModel)]="userDetailData.roleId">
          </div>
          <div class="txtmodal">
            <p class="name">ID Card:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.idCard" (input)="isEditUserDetail = true">
          </div>
          <div class="txtmodal">
            <p class="name">Phone:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.phone" (input)="isEditUserDetail = true">
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-control d-flex w-100 justify-content-end" *ngIf="isEditUserDetail">
      <button pButton pRipple type="button" label="Cancel" class="p-button-danger mr-2" (click)="displayDialogAdmin = false"></button>
      <button pButton pRipple type="button" label="Save" (click)="handleUpdateUser()"></button>
    </div>
  </p-dialog>
  <p-dialog header="User Detail" [(visible)]="displayDialogUser" [modal]="true" [style]="{width: '60%'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="headerM">
      <div class="headerMA">
        <img src="../../../assets/images/AvatarM.png" class="imagAvata">
        <div class="buttonimage">
          <button pButton pRipple type="button" [label]="userDetailData.isActive ? 'Activated' : 'Inactivated'"
            class="p-button-outlined p-button-success buttonsuccess w-100" (click)="handleUpdateUser(true)"></button>
        </div>
      </div>
      <div class="AllBodyHaeder w-100 two-column">
        <div class="bodyHeader">
          <div class="txtmodal">
            <p class="name">Name:</p>
            <input class="inputName" type="text" pInputText disabled [(ngModel)]="userDetailData.userName">
          </div>
          <div class="txtmodal">
            <p class="name">Email:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.email" (input)="isEditUserDetail = true">
          </div>
          <div class="txtmodal">
            <p class="name">Role:</p>
            <input class="inputName" type="text" pInputText disabled [(ngModel)]="userDetailData.roleId">
          </div>
          <div class="txtmodal">
            <p class="name">Shop Code:</p>
            <input class="inputName" type="text" pInputText disabled [(ngModel)]="userDetailData.shopCode">
          </div>
          <div class="txtmodal">
            <p class="name">Shop Name:</p>
            <input class="inputName" type="text" pInputText disabled [(ngModel)]="userDetailData.shopName">
          </div>
        </div>
        <div class="bodyHeader">
          <div class="txtmodal">
            <p class="name">Phone:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.phone" (input)="isEditUserDetail = true">
          </div>
          <div class="txtmodal">
            <p class="name">ID Card:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.idCard" (input)="isEditUserDetail = true">
          </div>
          <div class="txtmodal">
            <p class="name">Bank:</p>
            <p-dropdown [style]="{'width': '100%'}"
            class="inputName"
            panelStyleClass="custom-panel-right-0"
        [options]="Bank"
        optionLabel="vn_name"
        optionValue="vn_name"
        (onChange)="selectedBank"
         [(ngModel)]="userDetailData.bankName"
         scrollHeight="160px"
         placeholder="Select Bank" ></p-dropdown>
          </div>
          <div class="txtmodal">
            <p class="name">Account:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.accountNumber" (input)="isEditUserDetail = true">
          </div>
          <div class="txtmodal">
            <p class="name">Username:</p>
            <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.userNameBank" (input)="isEditUserDetail = true">
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-control d-flex w-100 justify-content-end" *ngIf="isEditUserDetail">
      <button pButton pRipple type="button" label="Cancel" class="p-button-danger mr-2" (click)="displayDialogUser = false"></button>
      <button pButton pRipple type="button" label="Save"(click)="handleUpdateUser()"></button>
    </div>
  </p-dialog>
  <p-dialog header="Create New User " [(visible)]="displayNewUser" [modal]="true" [style]="{width: '35%'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="popupNewUser">
      <div class="styStatus">
        <p class="statusCreateNew">Name</p>
        <input [(ngModel)]="username" class="nameNewUser">
      </div>
      <div class="styStatus">
        <p class="statusCreateNew">Email</p>
        <input class="nameNewUser" [(ngModel)]="email">
      </div>
      <div class="styStatus2">
        <div>
          <p class="statusCreateNew">ID Card</p>
          <input class="nameIDcard" [(ngModel)]="idcard">
        </div>
        <div>
          <p class="statusCreateNew">Phone</p>
          <input class="namePhone" [(ngModel)]="phone">
        </div>
      </div>
      <div class="styStatus">
        <p class="statusCreateNew">Role</p>
        <p-dropdown [style]="{'minWidth': '100%'}"
        [options]="UserOtion"
        [(ngModel)]="roleid"
        optionLabel="name"
        optionValue="id"
        placeholder="Select Role"
        scrollHeight="100px"
        (onChange)="handleChangeRole()"
      ></p-dropdown>
      </div>
      <div class="styStatus2" *ngIf="showInfoForSO">
        <div>
          <p class="statusCreateNew">Shop Code</p>
          <input #shopCodeInput class="nameIDcard" [(ngModel)]="shopcode" (blur)="getShopNameByShopCode()">
          <small id="username2-help" class="p-error"
            *ngIf="!isShopCodeValid">Shop code invalid!</small>
        </div>
        <div>
          <p class="statusCreateNew">Shop Name</p>
          <input class="namePhone" [(ngModel)]="shopname" disabled>
        </div>
      </div>
      <div class="styStatus" *ngIf="showInfoForSO">
        <p class="statusCreateNew">Bank</p>
        <p-dropdown [style]="{'minWidth': '100%'}"
        [options]="Bank"
        optionLabel="vn_name"
        optionValue="vn_name"
        (onChange)="selectedBank"
         [(ngModel)]="bankname"
         placeholder="Select Bank" ></p-dropdown>
      </div>
      <div class="styStatus2" *ngIf="showInfoForSO">
        <div>
          <p class="statusCreateNew">Account Number</p>
          <input class="nameIDcard" [(ngModel)]="accountnumber">
        </div>
        <div>
          <p class="statusCreateNew">User Name</p>
          <input class="namePhone" [(ngModel)]="usernamebank">
        </div>
      </div>

      <button class="btnSubmit" (click)="handleCreate()" >SUBMIT</button>
    </div>
  </p-dialog>
</div>
