<div class="container">
  <div class="centerView">
    <img src="../../../assets/images/loginImage.png" class="image">

    <form class="form__login">
      <div class="contentLogin">
        <h2 class="title">Sign in to</h2>
        <h2 class="aqua">AQUA</h2>
      </div>

      <div class="form-group" style="margin-top: 20px;">
        <span class="p-input-icon-left">
          <img class="pi-email" src="../../../assets/images/mail.png" width="25px" height="25px">
          <input type="text" class="p-inputtext-lg email" pInputText placeholder="Email">
        </span>

      </div>
      <div class="form-group" style="margin-top: 30px;">
        <span class="p-input-icon-left p-input-icon-right">
          <i class="pi pi-lock"></i>
          <i class="pi pi-eye-slash"></i>
          <input type="password" pInputText class="p-inputtext-lg password" placeholder="Password" />
        </span>

      </div>
      <button type="submit" class="btn btn-primary btnlogin"  routerLink='/common'>Login</button>
    </form>

  </div>
</div>
